* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow Condensed", sans-serif;
}

header {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.623);
  height: 56px;
  position: sticky;
  box-shadow: 0rem 0.0625rem 0.3125rem rgb(246, 18, 67);
  display: flex;
  flex-direction: row-reverse;
  position: fixed;
  top: 0;
  z-index: 2;
}

.fondo {
  width: 100%;
  height: 100%;
  background: linear-gradient(#000000dc, 55%, rgb(0, 0, 0)),
    url(../assets/img/pagina.png);
  background-repeat: no-repeat;
  background-size: contain;
}

body {
  background: linear-gradient(#000, #000000de, #f61243);
  width: 100%;
  height: auto;
}

.nav-container {
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nav-container ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-container ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  font-weight: 400;
  padding: 32px;
}

.nav-container ul li a:hover {
  color: #ffffff;
  font-weight: 800;
  text-shadow: 0rem 0rem 0.625rem #f61243, 0rem 0rem 1.25rem #f61243,
    0rem 0rem 2.5rem #f61243, 0rem 0rem 5rem #f61243;
}

.cart {
  /* background-color: aqua; */
  color: #fff;
  width: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart img {
  width: 40px;
}

.hero {
  width: 80vh;
  margin-left: auto;
  margin-right: auto;
}

.hero article {
  width: 100%;
  height: 100vh;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero article h1 {
  color: #fff;
  font-size: 64px;
  font-weight: 600;
  text-shadow: 0rem 0rem 0.625rem #f61243, 0rem 0rem 1.25rem #f61243,
    0rem 0rem 2.5rem #f61243, 0rem 0rem 5rem #f61243;
  text-align: center;
  padding: 32px;
}

.hero article p {
  color: #fff;
  font-weight: 300;
  font-size: 1.5rem;
  text-align: center;
  margin: 24px 24px;
}

.cards-container {
  width: 100%;
  height: auto;
  margin-top: 4.8px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-around;
  z-index: auto;
}

.informacion-1 {
  width: 100%;
}

.informacion-1 h2 {
  font-size: 80px;
  font-weight: 200;
  color: #fff;
  text-align: center;
  text-decoration: solid;
}

.cards {
  width: 448px;
  height: 240px;
  box-shadow: 0.0437rem 0.0625rem 0.3125rem rgb(255, 255, 255);

  border-radius: 16px;
  margin: 32px;
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  align-items: center;
}

.informacion {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.informacion h2 {
  color: #fff;
  font-size: 48px;
  text-align: center;
  font-weight: 300;
}

.informacion p {
  width: 90%;
  height: 60%;
  color: #fff;
  font-size: 16px;
  text-align: center;
  font-weight: 200;
  margin: 8px;
}

.boton {
  background-color: rgba(0, 0, 0, 0.24);
  color: #ffffff;
  width: 64px;
  height: 32px;
  margin: 9px;
  box-shadow: 0.0625rem 0.0625rem 0.1875rem #f61243;
  border-radius: 0.3125rem;
  font-family: sans-serif;
  font-weight: 300;
}

.img {
  width: 45%;
  height: 100;
  padding: auto;
}

.img img {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 16px;
}

.pie-de-pagina {
  background: #ffffff;
  width: 100%;
  height: 160px;
  padding: 16px;
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-evenly;
  z-index: auto;
}

.texto {
  width: 100%;
  height: 80px;
}

.pie-de-pagina p {
  font-size: 32px;
  font-weight: 300;
  color: #000000;
  text-align: center;
}

.logos {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.logos img {
  width: auto;
  height: 48px;
}

/* ***********************Tienda********************************* */
.store-container {
  width: 96%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15.625rem, 1fr));
  grid-auto-rows: minmax(12.5rem, auto);
  gap: 1.25rem;
  grid-auto-flow: dense;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
}

.card-store {
  position: relative;
  width: 100%;
  height: auto;
  margin: auto;
  padding-top: 1.25rem;
  display: block;
}

.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.grid-item img {
  width: 15.625rem;
  height: auto;
  border-radius: 0.625rem;
  box-shadow: 0.0625rem;
}

.card-inf {
  position: absolute;
  top: 1.25rem;
  width: 100%;
  height: 100%;
  padding: 1rem;
  background-color: #000000ed;
  color: #ffffff;
  opacity: 0;
  pointer-events: none;
  transition: all 2 ease-in-out;
}

.card-inf > div {
  padding: 1rem;
  border: thin solid #ffffff;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.card-inf > div h3 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
}

.card-inf p {
  font-size: 1.2rem;
  margin: 0.5rem;
}
.btn {
  background-color: rgba(0, 0, 0, 0.24);
  font-size: 1.2rem;
  color: #fff;
  box-shadow: 0.0625rem 0.0625rem 0.1875rem #f61243;
}

.card-store:hover .card-inf {
  border-radius: 10px;
  opacity: 1;
  pointer-events: auto;
}
/* ***************************Footer***************************** */
footer {
  background-color: rgba(0, 0, 0, 0.623);
  width: 100%;
  height: 48px;
  bottom: 0;
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  z-index: 33;
}

footer div p {
  font-size: 16px;
  color: aliceblue;
  font-weight: 300;
  position: static;
}

.contactos img {
  width: 24px;
  height: auto;
  margin-right: 1.5rem;
  color: #000;
}

.contactos img:hover {
  width: 48px;
  filter: drop-shadow(10px 8px 6px #f61243);
  height: auto;
  transition-duration: 1s;
}

/* ********************CONTACTO******************** */

.contacto {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: space-evenly;
}

.mensaje {
  background-color: rgba(0, 0, 0, 0.563);
  padding: 5rem;
  margin: 10rem;
  border-radius: 3rem;
  width: 80vw;
  height: 39rem;
  box-shadow: 0.3rem 0.3rem 0.8rem #f61243;
}

/* ********************MEDIA******************** */

@media (max-width: 1024px) {
  .cart {
    margin-right: 1rem;
  }

  .hero {
    width: 90%;
    height: 35rem;
    margin-top: 0;
    padding-top: 0;
    justify-content: flex-end;
  }

  .hero article {
    width: 100%;
    height: 31.25rem;
  }

  .hero article p {
    width: 30rem;
    font-size: 1.2rem;
    margin: 2rem;
    margin-left: auto;
    margin-right: auto;
  }

  .logos img {
    width: auto;
    height: 35px;
  }
}

@media (max-width: 768px) {
  .cards-container {
    /* background-color: #f61243; */
    width: 100%;
    height: auto;
    margin-top: 4.8px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .cards {
    width: 15.625rem;
    height: 25rem;
    box-shadow: 0.0437rem 0.0625rem 0.3125rem rgb(255, 255, 255);
    border-radius: 16px;
    margin: 32px;
    display: inline-flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .informacion {
    width: 100%;
  }

  .informacion h2 {
    font-size: 2.3rem;
  }

  .img {
    width: 95%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .img img {
    margin-top: 1rem;
    padding: 0;
    width: auto;
    height: 11rem;
    border-radius: 0.8rem;
    position: cemter;
  }
}

@media (max-width: 320px) {
}
