.boton {
  background-color: $bgcHeader;
  color: map-get($color, blanco);
  width: 64px;
  height: 32px;
  margin: 9px;
  box-shadow: 0.0625rem 0.0625rem 0.1875rem map-get($color, rojo);
  border-radius: 0.3125rem;
  font-family: sans-serif;
  font-weight: 300;
}
