@media (max-width: 320px) {
  .hero article {
    margin-bottom: 3rem;
  }

  .cards-container {
    margin-top: 8rem;

    h2 {
      font-size: 3rem;
    }
  }

  .cards div img {
    height: 9rem;
  }
}
